{% extends "admin/adminheader&footer.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script > 
function ajaxview()
{
  alert("a");
  var d=document.getElementById('Name').value;
  $.ajax({

        url:'/view/',
        data:
        {
          'p':d
        },
        datatype: 'json',
        success: function(data)
        {
          document.getElementById("nameid").innerHTML=data.aa;
          document.getElementById("emailid").innerHTML=data.bb;
          


        }


      });
}
</script> 

<div class="inner-block">
    <div class="inbox">
    	  <h2>Inbox</h2>
    	<!--  <div class="panel-heading">
              <h3 class="panel-title">Please Register your products <small>It's free!</small></h3>
            </div> -->
            <div class="panel-body">
              <form role="form" action="/inbox/"enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="row">
                 <div class="col-xs-6 col-sm-6 col-md-6">
                    <label>Name</label>
                    <div class="form-group">
                     <select name="Name" id="Name" onchange="ajaxview()" >
                      <option>Select from one</option>
                      {% for x in data %}
                      <option value="{{x.id}}">{{x.admname}}</option>
                    {% endfor %}
                  </select>
                    </div>
                  </div>
                 <!--  <div class="col-xs-6 col-sm-6 col-md-6">
                    <label>price</label>
                    <div class="form-group">
                      <input type="text" name="price" id="price" class="form-control input-sm" placeholder="">
                    </div>
                  </div>
                </div> -->

                <!-- <div class="form-group">
                  <label>product description</label>
                  <textarea class="form-control" name="description" rows="3" placeholder=""></textarea>
                </div>
 -->
                <!-- <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <label>Product Images</label>
                    <div class="form-group">
                      <input type="FILE" name="Images" id="Images" class="form-control input-sm" placeholder="">
                    </div>
                  </div> -->
                  <!-- <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                    </div>
                  </div> -->
                </div>
                
               <!--  <input type="submit" value="Register" class="btn btn-info btn-block"> -->
               <table width="100%">
               <tr>
                
                <th>name</th>
                <th>email</th>
              </tr>
              <!-- {% for x in data %} -->
              <tr>
              <!-- <td>{{forloop.counter}}</td> -->
              <!--  <option value ="{{x.id}}">{{x.admname}}</option> -->
               <td id="nameid"></td>
                <td id="emailid"></td>
              </tr>

              <!-- {% endfor %} -->
               </table>
              </form>
              
            </div>
          </div>
        
          <div class="clearfix"> </div>     
   </div>
</div>

<!--inner block end here-->
<!--copy rights start here-->
{% endblock %}